*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --footer: #1A1A1A;
    --nav: #FF6900;
    --colortext1: #ffffff;
    --colortex2: #000000;
    --sconto: #cf1717;
    --sotenibilità: #008f02df;
    --prezzo: #FF0000;
}
.debug{
    border: 1px solid black;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}
.navbar{
    display: flex;
    justify-content:space-between;
    padding-top: 5px;
    justify-items: center;
}
.navbg{
    background-color:var(--nav);
    color: var(--colortext1);
    padding-bottom: 10px;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    padding-top: 10px;
}
header img{
    width: 140px;
    height: 55px;
    padding-bottom: 1rem;
    padding-top: .2rem;
}
.row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.clothes img{
    width: 100%;
    max-width: 400px;
    padding-top: 30px;
}
.clothes{
    position: relative;
    cursor: pointer;
    padding: 10px;
}
.sconto{
    padding: 2px;
    text-align: center;
    position: absolute;
    left: 10px;
    bottom:50px;
    padding-right: 5px;
}
.sconto2{
    padding: 2px;
    text-align: center;
    position: absolute;
    left: 50px;
    bottom: 50px;
    padding-right: 5px;
}
.green{
    background-color: var(--sotenibilità);
    color: var(--colortext1);
}
.red{
    background-color: var(--sconto);
    color: var(--colortext1);
}
.description{
    text-align: left;
    padding-left:10px ;
}
.prezzo{
    color: var(--prezzo);
}
.prezzo2{
    color: var(--colortex2);
    font-style: bold;
    text-decoration: line-through;
}
.invisible{
    left: 0;
    bottom: 0;
    right: 0;
    top:0;
    text-align: center;
    display: none;
}
.clothes:hover .invisible{
    position: absolute;
    width: 99%;
    display: block;
}
.heart{
    color:var(--colortex2);
    text-align: center;
    background-color: var(--colortext1);
    top: 70px;
    right: 3px;
    position: absolute;
    z-index: 1;
    padding: 15px;
}